<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>Docker Ps</h2>
    </div>
    <div>
        <label for="dockerId" style="font-weight : bold;font-size:18px;"> result </label>
        <input type="text" id="dockerId" name="dockerId" class="form-control" th:value="${result}" readonly >
    </div>

</div> <!-- /container -->
</body>
</html>