<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
</head>
<body>
<style type="text/css">@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");</style>
<style type="text/css">@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

<div class="container">
    <h6>h6</h6>
    <h5>h5</h5>
    <h4>h4</h4>
    <h3>h3</h3>
    <h2>h2</h2>
    <h1>h1</h1>
    <h1 class="display-4">display-4</h1>
    <h1 class="display-3">display-3</h1>
    <h1 class="display-2">display-2</h1>
    <h1 class="display-1">display-1</h1>
    <h1 class="display-4 font-weight-bold">display-4 font-weifht-bold</h1>
    <h1 class="display-4 font-italic">display-4 font-italic</h1>
    <h1 class="display-4 font-left">display-4 font-left</h1>
    <h1 class="display-4 font-center">display-4 font-center</h1>
    <h1 class="display-4 font-right">display-4 font-right</h1>
    <h1 class="display-4 text-primary">display-4 text-primary</h1>
    <h1 class="display-4 text-seconday">display-4 text-secondary</h1>
    <h1 class="display-4 text-success">display-4 text-success</h1>
    <h1 class="display-4 text-danger">display-4 text-danger</h1>
    <h1 class="display-4 text-warning">display-4 text-warning</h1>
    <h1 class="display-4 text-info">display-4 text-info</h1>
    <h1 class="display-4 text-light">display-4 text-light</h1>
    <h1 class="display-4 text-dark">display-4 text-dark</h1>
    <h1 class="display-4 text-muted">display-4 text-muted</h1>
    <h1 class="display-4 text-white">display-4 text-white</h1>
    <h1 class="display-4 text-white bg-primary">display-4 text-white bg-primary</h1>
    <h1 class="display-4 text-white bg-secondary">display-4 text-white bg-secondary</h1>
    <h1 class="display-4 text-white bg-danger">display-4 text-white bg-danger</h1>
    <h1 class="display-4 bg-warning">display-4 bg-warning</h1>
    <h1 class="display-4 text-white bg-info">display-4 text-white bg-info</h1>
    <h1 class="display-4 bg-light">display-4 bg-light</h1>
    <h1 class="display-4 text-white bg-darky">display-4 text-white bg-dark</h1>
</div>

</body>
</html>